{% extends 'base.html' %}

<!--Header Section-->
{% block head %}
<title> Home </title>
{% endblock %}

<!--Body-->
{% block body %}
<h1 class="text-center">History</h1>
<br>
<div class="container">
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <!--The Instructions/introduction-->
        <div class="card border-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">What this page is for</div>
            <div class="card-body">
              <h4 class="card-title">What this tool is used for</h4>
              <p class="card-text">
                  This page isn't all that complicated, and is simply here to display the results of any scan from the past. All pages use the most recent scan results, 
                  but this page will just allow you to look back on any results from the past.
              </p>
            </div>
        </div>
        
        <!-- The history table -->
        <br/>
        <h2 class="text-center">Scans</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">name</th>
                <th scope="col">MAC</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for device in scans %}
                    <tr>
                        <form action='/history' method='POST'>
                            <td>{{device["device_name"]}}</td>
                            <td>{{device["mac_address"]}}</td>
                            <input type="hidden" id="device_id" name="device_id" value="{{device['device_id']}}">
                            <td><button align="center" id="archive" name="archive" type="submit" class="btn btn-primary">Archive</button></td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- The Archive Table -->
        <br/>
        <h2 class="text-center">Archived Scans</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">name</th>
                <th scope="col">MAC</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for device in archived %}
                    <tr>
                        <form action='/history' method='POST'>
                            <td>{{device["device_name"]}}</td>
                            <td>{{device["mac_address"]}}</td>
                            <input type="hidden" id="device_id" name="device_id" value="{{device['device_id']}}">
                            <td><button align="center" id="remove" name="remove" type="submit" class="btn btn-danger">Remove</button></td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
        <form action='/history' method='POST'>
            <button align="center" id="clear" name="clear" type="submit" class="btn btn-danger">Clear All Non-Archived Scans</button>
        </form>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
{% endblock %}