{% extends 'base.html' %}

<!--Header Section -->
{% block head %} 
<title> Posts </title>
{% endblock %}

<!--Body Section  -->
{% block body %}
<hr>
<h2>Create New BLog Post:</h2>
<form action='/posts' method='POST'>
    Title:<input type='text' name='title' id='title'>
    <br>
    Post: <input type='text' name='content' id='content'>
    <br>
    <input type='submit' value='Post'>
</form>
<hr>

<h1> View Posts</h1>

    {% for post in posts %}
        <hr/>
        <h2>{{post.title}}</h2>
        <p>{{post.content}}</p>

        {% if post.author %}
            <h3>By: {{post.author}}</h3>
        {% else %}
            <h3>By: N/A</h3>
        {% endif %}

    {% endfor %}
{% endblock %}
